name: New Release

on:
  push:
    branches:
      - main

# permissions: []
  # contents: read
  # packages: write

jobs:
  new-release:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Run semantic release
        run: |
          npm install
          npx multi-semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
